<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>BKB Adventskalender</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <h1>BKB Adventskalender</h1>
        <form action="" method="POST">
            <input type="text" name="text" id="tbxEintrag" placeholder="Neuer Eintrag ..." style=<%= tbxStyle %>>
            <label id="lblKalenderspruch" style=<%= lblStyle %>><%= lblKalenderspruch %></label>
            <button id="btnButton" formaction="/" ><%= button %> </button>
        </form>
        <p>&copy; 2018 Rebecca Rottstegge</p>
    </body>
</html>